<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form action="/add" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Student</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="student_id" class="form-label">Student ID</label>
                        <input type="text" class="form-control" id="student_id" name="student_id" required>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div>
                        <label for="specialization" class="form-label">Specialization</label>
                        <input type="text" class="form-control" name="specialization">
                    </div>
                    <div>
                        <label for="tsc_attended" class="form-label">TSC Attended</label>
                        <input type="text" class="form-control" name="tsc_attended">
                    </div>
                    <div>
                        <label for="completion_year" class="form-label">Completion Year</label>
                        <input type="number" class="form-control" name="completion_year">
                    </div>
                    <div>
                        <label for="digital_address">Digital Address</label>
                        <input type="text" class="form-control" name="digital_address">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="telephone" class="form-label">Telephone</label>
                        <input type="text" class="form-control" id="telephone" name="telephone">
                    </div>
                    <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" name="city">
                    </div>
                    <div class="mb-3">
                        <label for="region" class="form-label">Region</label>
                        <input type="text" class="form-control" id="region" name="region">
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" id="country" name="country">
                    </div>
                    <div class="mb-3">
                        <label for="current_employer" class="form-label">Current Employer</label>
                        <input type="text" class="form-control" id="current_employer" name="current_employer">
                    </div>
                    <div class="mb-3">
                        <label for="industry_or_sector" class="form-label">Industry/Sector</label>
                        <input type="text" class="form-control" id="industry_or_sector" name="industry_or_sector">
                    </div>
                    <div class="mb-3">
                        <label for="current_job_title" class="form-label">Current Job Title</label>
                        <input type="text" class="form-control" id="current_job_title" name="current_job_title">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
